AnonymityPoll.csv
Auto.csv
Boston.csv
College.csv
Electricity.csv
Exercise1.pdf
Exercise1Solution.html
Exercise1Solution.pdf
Exercise2.pdf
Exercise2Solution.html
Exercise2Solution.pdf
Exercise3.pdf
Exercise3Solution.html
Exercise3Solution.pdf
Exercise4.pdf
Exercise4Solution.html
Exercise4Solution.pdf
Heating.csv
Parole.csv
baseballlarge.csv
batters.csv
climate_change.csv
germancredit.csv
presidential.csv
winedata.csv
