@font-face {
	font-family: 'thegirlnextdoor';
	src: url('./thegirlnextdoor.eot');
	src: local('thegirlnextdoor'), url('./thegirlnextdoor.woff') format('woff'), url('./thegirlnextdoor.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7356">Text with this font applied</p> */
.fontsforweb_fontid_7356 {
	font-family: 'thegirlnextdoor' !important;
}

/* Font downloaded from FontsForWeb.com */